* {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-family: 'Bebas Neue', cursive;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    background: red;
    height: 100vh;
    background-image: url("background1.jpg");
    width: 500px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .profile>img {
    width: 80px;
    height: 80px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 100%;
    border-style: groove;
  }
  
  .profile>p {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 5px;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    text-shadow: 1.4em #222;
  }
  
  .link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }
  
  .link>a {
    text-decoration: none;
    color: #222;
    font-size: 24px;
    text-align: center;
    border: 3px solid #222;
    background-color: #eaeaea;
    border-radius: 7px;
    margin: 5px 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .link>a:hover {
    background-color: azure;
  }
  
  .footer {
    text-align: center;
  }
  
  .footer>i {
    color: rgb(0, 0, 0);
    font-size: 20px;
    border: 1px solid #222;
    background-color: #eaeaea5b;
    border-radius: 7px;
    margin: 5px 10px;
    padding: 5px;
    border-spacing: 3px;
  }